@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  margin: 0;
  font-family: 'Arvo', serif;
}

/*color's */
:root {
  --color-primary: #ff1010;
  --color-secundary: #171ee0;
  --color-background-header: #173456;
  --color-background: #1c4370;
  --color-background-footer: #173456;
  --color-all: #ffffff;
  --color-icon-search: #ffffff;
  --color-background-span: #d0d0d0;
  --color-span-local: #d9d9dc;
}


