@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  margin: 0;
  font-family: 'Arvo', serif;
}

/*color's */
:root {
  --color-background: #2b385b;
  --color-all: #ffffff;
  --color-icon-search: #ffffff;
  --color-primary: #ff1010;
  --color-background-span: #d0d0d0;
  --color-secundary: #e13a3a;
}


